{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Welcome to Electronic Monitoring For Probation Officers</h1>

{% endblock %}
