{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Welcome to Electronic Monitoring For Probation Officers</h1>
  <div><img src="/assets/images/favicon.ico" width="40" height="40"></img> Testing out whether an image is accessible for screen readers</div>

{% endblock %}
